body {
    background-color: #7f5a83;
    background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
}

nav {
    background-color: #0cbaba;
    background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
    text-align      : center;
    padding         : 10px;
    border-radius   : 10px;
}

#headerName {
    font-family: cursive;
    color      : white;
}

#heading {
    background-color: #7ee8fa;
    background-image: linear-gradient(315deg, #7ee8fa 0%, #80ff72 74%);
    width   : 100%;
    border  : 1px solid white;
    border-radius: 20px;
    position: sticky;
    top     : 20px;
}

#heading h1{
    padding-left: 30px;
}

#numbersList {
    border: 2px solid black;
}

#numbersList a{
    text-decoration: none;
    color: white;
}

main {
    margin-top: 40px;
}

li:hover {
    background-color: #183015;
    border          : black;
    font-size       : larger;
}

li {
    color: white;
    font-size: 20px;
    padding: 20px;
}

footer {
    background-color: #0cbaba;
    background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
    padding         : 10px;
    border-radius   : 10px;
}

footer h2 {
    text-align: center;
    color     : aliceblue;
}